<% if params[:controller] == 'about'%>
  <div class="card bg-light">
    <div class="card-body">
      <h3>Location info</h3>
      <ul>
        <li>asd</li>
        <li>fdsfd</li>
        <li>fdsf</li>
      </ul>
    </div>
  </div>
<% end %>
<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
  <div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category.id), class:'list-group-item' %>
    <% end %>
  </div>
<% end %>
