<% if params[:controller] == 'about'%>
  <div class="card bg-light">
    <div class="card-body">
      <h3>Location info</h3>
      <ul>
        <li>asd</li>
        <li>fdsfd</li>
        <li>fdsf</li>
      </ul>
    </div>
  </div>
<% end %>
