<% if params[:controller] == 'about'%>
  <div class="card bg-light">
    <div class="card-body">
      <h3>Location info</h3>
      <ul>
        <li>The Bookstore</li>
        <li>449 Main Ave. Unit 2</li>
        <li>San diego, CA 92231</li>
        <li>Phone: (619) 555-5555</li>
        <li>Email: Support@thebookstore.com</li>
      </ul>
    </div>
  </div>
<% end %>
<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
  <div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category.id), class:'list-group-item' %>
    <% end %>
  </div>
<% end %>
