<% if params[:controller] == 'about'%>
  <div class="card bg-light">
    <div class="card-body">
      <h3>Location info</h3>
      <ul>
        <li>asd</li>
        <li>fdsfd</li>
        <li>fdsf</li>
      </ul>
    </div>
  </div>
<% end %>
<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show'%>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
      Ruby On Rails
    </a>
    <a href="#" class="list-group-item list-group-item-action">PHP</a>
    <a href="#" class="list-group-item list-group-item-action">HTML5</a>
  </div>
<% end %>
