<h1><%= @page_title %></h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro sapiente
  inventore cum et numquam rem, facere officiis molestiae ducimus possimus
  debitis placeat quis omnis dolores, dolore asperiores sequi magni voluptatem!
  Explicabo, temporibus? Voluptates nesciunt, voluptatibus voluptate quae
  nostrum alias optio iusto dolorem, dolorum est perferendis enim officiis
  aspernatur suscipit omnis nam facere accusamus itaque eaque! Laudantium
  repellat iste excepturi ea? Est tenetur soluta natus illum voluptatibus
  voluptates culpa quasi ut possimus vero, ea modi facere saepe iusto obcaecati
  omnis aliquid cumque! Non pariatur exercitationem fugiat nobis quaerat,
  placeat libero. Obcaecati! Quos ipsum odit id ipsa molestias eveniet minima
  pariatur consequatur vero et officiis inventore deserunt amet excepturi dicta
  praesentium harum commodi quasi sapiente suscipit, eligendi totam alias!
  Accusamus, voluptas ipsum. Delectus culpa aut odio soluta fuga vel eveniet
  vitae ullam accusamus, cum a reprehenderit beatae unde sed modi possimus ut
  molestiae laudantium perspiciatis dolorem architecto atque officiis? Quisquam,
  quaerat pariatur?
</p>

<div class="well">
  <h3>Location info</h3>
  <ul>
    <li>asd</li>
    <li>fdsfd</li>
    <li>fdsf</li>
  </ul>
</div>
